.result-delete-button {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #CCCCCC;
    text-align: center;
    position: relative;
}

.result-delete-button:hover {
    border-color: #7a7a7a;
}

.result-delete-button:active {
    background-color: #999999;
}

@media all and (max-width: 30em) {
     .result-delete-button {
        display: block;
        margin: 0.2em auto;
    }
}
