.result-copy-button {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
}

@media all and (max-width: 30em) {
     .result-copy-button {
        display: block;
        margin: 0.2em auto;
    }
}

.copied {
    border: 0.15em solid lightgreen;
    color: white;
    background-color: lightgreen;
}

.normal {
    border: 0.15em solid #CCCCCC;
    color: #000000;
    background-color: #CCCCCC;
}
