.result-gif-wrapper {
    min-width: 30vw;
    flex: 0 1 auto;
    position: relative;
    margin: 5px;
}

.action-buttons {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 5px;
}
