#pagination-next-button {
    display: inline-block;
    padding: 0.7em 0.7em;
    margin: 0 0.6em;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: orange;
    background-color: transparent;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

#pagination-next-button:active {
    top: 0.1em;
}

#pagination-next-button:disabled {
    background-color: lightgray;
    color: #7a7a7a;
}

@media all and (max-width: 30em) {
     #pagination-next-button {
        display: block;
        margin: 0.4em auto;
    }
}
