#trending-button {
    display: inline-block;
    padding: 0.7em 0.7em;
    margin: 0 0.3em 0 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

#trending-button:active {
    top: 0.1em;
}

@media all and (max-width: 30em) {
     #trending-button {
        display: block;
        margin: 0.4em auto;
    }
}
